232-Notes.aux
232-Notes.fdb_latexmk
232-Notes.fls
232-Notes.log
232-Notes.out
232-Notes.pdfsync
232-Notes.rel
232-Notes.synctex (Bill's Macbook Pro's conflicted copy 2012-03-15).gz
232-Notes.synctex.gz
232-Notes.tex~
232-Notes.toc
232-Notes_Matt.tex
232-Notes_Matt.tex~
Lecture 9 - Kevin.pdf
MSDiagram.pages
TcRhoc.pages
_region_.log
_region_.pdf
_region_.tex
compPlot.pages
energyPlot.pages
hr_local.gif
lecture1.2012.PDF
lecture10.2012.PDF
lecture11.2012.PDF
lecture12_2009.pdf
lecture13.2012.PDF
lecture14.2012.PDF
lecture15.2012.PDF
lecture16.2012.PDF
lecture17.2012.PDF
lecture18.2012.PDF
lecture19.2012.PDF
lecture2.2012.PDF
lecture3.2012.PDF
lecture4.2012.PDF
lecture5.2012.PDF
lecture6.2012.PDF
lecture7.2012.PDF
lecture8.2012.PDF
lecture9_2009.pdf
neutrinoCool.pages
prv_232-Notes.log
stellar_atmospheres.pdf
.232-Notes.out
.232-Notes.toc
figures/paxton_2011_contraction.tiff
ignore_all.rb
